h2 {
  text-align: center;
}

.species {
  display: flex;
  justify-content: center;
  &__selector {
    width: 100px;
    height: 100px;
    background-color: tomato;
    margin: 10px;
  }
}

.units {
//   background-color: tomato;
  border: 1px solid black;
  height: 400px;
  width: 350px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  div{
      margin: 5px;
  }
  &__unit{
      background-color: red;
      width: 100px;
      height: 150px;
      &__info{
          width: 100%;
          background-color: green;
          height: 30%;
      }
  }

}

.counters {
  background-color: gray;
  height: 400px;
  width: 350px;
  margin: 50px auto;
}
