h2 {
  text-align: center;
}

.test {
  width: 200px;
  height: 200px;
  background-color: blanchedalmond;
}

.species {
  display: flex;
  justify-content: center;
  &__selector {
    width: 100px;
    height: 100px;
    background-color: tomato;
    margin: 10px;
  }
}

.units {
  //   background-color: tomato;
  border: 1px solid black;
  height: 400px;
  width: 350px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  div {
    margin: 5px;
  }
}

.counters {
  background-color: gray;
  height: 400px;
  width: 350px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}
